
.card-header{
    background-color: rgb(1, 115, 245);
    color: white;
    height: 37px;
    padding-top: 4px;


}

#connectbtn ,#publishedclicked ,#subscribeclicked{
    background-color: rgb(60, 208, 245);
    box-shadow: 1px 1px black;
}

.container{
    height: 100%;
}



.cardpublish{
   left: 36%;
   position: absolute;
   width: 27%;
    
}

.cardsubscribed{
    left: 69%;
    position: absolute;
    width: 27%;

}

.cardbroker{
    position: absolute;
    width: 27%;
    left: 2%;

}

body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}





